modules = ["web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run React App"

[[workflows.workflow]]
name = "Run React App"
author = 46125146
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
