@import "./scss/resets";
@import "./scss/globes";
@import "./scss/header";
@import "./scss/hero";
@import "./scss/stores";
@import "./scss/top_category";
@import "./scss/together";
@import "./scss/footer";
